@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
@layer base {
  :root {
    --background: #1c1917;
    --background-secondary: #292524;
    --background-accent: #1f1e1d;

    --text: #0444c5;
    --text-secondary: #9ca3af;
    --text-muted: #a8a29e;
    --text-mutedtwo: #de6310;
    --text-primary: #84cc16;
    --text-accent: #7c3aed;

    --foreground: #f3f4f6;
    --foreground-secondary: #9ca3af;

    --card: #292524;
    --card-foreground: #f3f4f6;

    --popover: #292524;
    --popover-foreground: #f3f4f6;

    --primary: #84cc16;
    --primary-hover: #65a30d;
    --primary-foreground: #f3f4f6;

    --secondary: #3452db;
    --secondary-hover: #6d28d9;
    --secondary-foreground: #f3f4f6;

    --muted: #44403c;
    --muted-foreground: #a8a29e;

    --accent-purple: #7c3aed;
    --accent-mint: #a7f3d0;
    --accent-coral: #f43f5e;

    --destructive: #f43f5e;
    --destructive-foreground: #fef2f2;

    --border: #44403c;
    --input: #1c1917;
    --ring: #84cc16;

    --chart-1: #84cc16;
    --chart-2: #7c3aed;
    --chart-3: #a7f3d0;
    --chart-4: #f43f5e;
    --chart-5: #f59e0b;

    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
